.product{
  display: none;
}
.product-top-left{
  padding-left: 0px;
  padding-right: 0px;
}
.product-img-title-left{
  img{
    width: 100%;
  }
}
.product-top-right{
  padding-left: 0px;
  padding-right: 0px;
}
.product-img-title-right{
  img{
    width: 100%;
  }
}
